{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Change" %}{% endblock title %}
{% block content %}
<h2>{% trans "logfile" %}</h2>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<table>
		{{ form }}
	</table>
	<div class="div-button-center">
		<button type="submit" class="btn btn-outline-success" style="width:100px">{% trans "Save" %}</button>	
		<a class="btn btn-outline-info" style="width:100px" href="{% url 'logfile_index' %}">{% trans "Back" %}</a> 	
	</div>	
</form>
{% endblock content %}